.my_navbar{
padding-bottom:10px;

}

.my_footer{
        background-color:#f8f9fa;
        height:60px;



}
.my_footer p{

    margin-top: 20px;
    margin-bottom:30px;
    padding:50px;
}


.my_image_padding{
        padding:5px;
}
.my_bottom_margin{
                margin-bottom:10px;

}
.card-body h4{
            font-size:14px;
            text-transform:uppercase;
            letter-spacing:0.2em;

}

.my_prod-row{
padding-top:15px;
padding-bottom:20px;
}
.my_prod-row .mx_auto{
    color:black;
    font-size:12px;
    text-decoration:none;

}
.my_prod-title{

            font-size:16px;
            text-transform:uppercase;
            letter-spacing:0.2em;
            padding-top:15px;
            padding-bottom:10px;
}
.my_prod_text{
    padding-right:20px;
}
.my_search_text{
    padding-top:20px;
}
.my_custom_table{
                min-width:400px;
                font-size:14px;

}
.my_custom_thead{
        font-weight:normal;
        text-transform:uppercase;
        letter-spacing:0.2em;
        background-color:f8f8fa!important;
}
.custom_a{
        text-decoration:none;
}
.custom_icon{
        text-decoration:none;
        color:#868e96 !important;
}
.my_custom_button{
    margin-top:5px;
}